*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none; 
}

body {
    background-color: #E0E2DB;
}

/* Page d'accueil */
.tete {
    width: 100%;
    display: block;
    background-color: #2E3532;
}

.tete_interieur {
    text-align: center;
}

img {
    width: 300px;
}

.navigation {
    background-color: #3C887E;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

.bouton1, .bouton2 {
    color: #ffffff;
    background-color: #A7C4C2;
    font-display: inline-block;
}

.main {
    background-color: #E0E2DB;
    width: 100%;
    padding: 20px;
    text-align: center;
}