*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none; 
}


/* Fond d'écran */
body {
    background-color: #E0E2DB;}

    /*.image1 {
        position : relative;
        float: left;
        width : 35vw;
        margin-left : 460px;
     
    }
    .image2 {
        position : relative;
        float: left;
        width : 35vw;
        margin-left : 460px;
        padding-top: 20px;
    }
    .image3{
        position : relative;
        float: left;
        width : 35vw;
        margin-left : 460px;
       padding-top: 20px;
    }
    
    .image4{
        position : relative;
        float: left;
        width : 35vw;
        margin-left : 460px;
        padding-top: 20px;
    
    }*/
}


/* Haut de page : Section grise foncée */
#header {
    position: fixed;
    width: 100%;
    top: 0;
}

.tete {
    width: 100%;
    display: block;
    background-color: #2E3532;
}

.tete_interieur {
    text-align: center;
}

img {
    width: 300px;
}

/* Haut de page : Section turquoise */
.boutons {
    background-color: #3C887E;
    width: 100%;
}

nav ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 30px;
    border-radius: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #A7C4C2;
    padding: 15px 35px;
    text-align: center;
    border-radius: 15px;
    font-size: 25px;
    left: 50%;
    transition: cubic-bezier(.07,.5,.3,1) 0.6s;
}

nav ul li a:hover {
    text-decoration: none;
    color: #2E3532;
    background-color: #A7C4C2;
    padding: 15px 35px;
    text-align: center;
    border-radius: 15px;
    transition: cubic-bezier(.07,.5,.3,1) 0.6s;
}

/* Contenu principal */
.main {
    margin: 15px;
    padding-top: 300px;
    padding-bottom: 100px;
}

.profils {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Pied de page : Section turquoise */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pied {
    background-color: #3C887E;
    color: #3C887E;
    width: 100%;
}

/* Pied de page : Section grise foncée */
.pied_interieur {
    background-color: #2E3532;
    color: #6c7470;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 50px;
    text-align: center;
}